# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Data folders
data/
distributed_data_*/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/